body {
    background-color: white;
}

.tmpl {
    margin-bottom: 60px;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.fl{
    float: left;
}

.fr {
    float:right;
}

/*清除浮动、应用于包含浮动子元素的父级元素上*/
.clearfix:after { content: ''; display: table; clear: both; }
.clearfix { *zoom: 1; }